@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #252525;
}

/* headings and logo */

h1,
h2 {
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    color: #6a2383;
}

#logo {
    float: left;
    font-size: 290%;
    margin-left: 25px;
}

#menu {
    font-family: Quicksand, sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    float: left;
}

#menu a {
    text-decoration: none;
    color: #6a2383;
}

#menu a:hover {
    border-bottom: 2px solid #72c5ce;
}

.active {
    border-bottom: 2px solid #72c5ce;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero_image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.15);
    }
}

#cover-text {
    font-size: 120%;
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 20px;

    width: 275px;
    height: 200px;

    padding-top: 20px;
    padding-left: 25px;

    background-color: rgba(137, 96, 160, .8);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

hr {
    border-top: dotted 3px;
    width: 240px;
    opacity: 70%;
    margin: 10px 0 10px 0;
}

/* why join our bookclub */
#reasons-why-join {
    height: 350px;
}

#reasons-why-join hr {
    width: 100%;
}

#left-why {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-why {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-why {
    width: 33%;
    margin: 0 auto;
}

.left-why-heading {
    width: 60%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

.right-why-heading {
    width: 60%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

.right-why-heading h2 {
    text-align: right;
}

.right-why-heading p {
    text-align: right;
}

#center-heading-why {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 180%;
}

#center-why {
    background: url(../images/center-icon-kids.gif) 
    no-repeat center center;
    height: 204px;
    width: 426px;
    margin-top: 20px;
}

/* Book Review Section */

#book-reviews {
    background-color: #cfe8ec;
    height: 300px;
}

#main-book-review-heading {
    font-family: Quicksand, sans-serif;
    color: #6a2383;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 160%;
}

/* footer */

footer {
    height: 40px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 4%;
}

/* gallery */

#kids-photos {
    clear: both;
    column-count: 3;
    column-gap: 0;
}

#kids-photos>img {
    width: 100%;
}

/* Form Section */

.form-section {
    clear: left;
    background: url('../images/young-smiley-girl-portrait-pointing.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
}

.signup-form {
    font-family: Quicksand, sans-serif;
    margin: 100px 10% 0 0;
    color: #6a2383;
    background-color: rgba(207, 232, 236, 0.8);
    max-width: 450px;
    position: absolute;
    left: 8%;
    padding: 20px;
    border-radius: 20px;
}

.signup-form h2 {
    margin-bottom: 15px;
}

.text-input {
    background-color: #fff;
    width: 100%;
    height: 35px;
    margin: 10px 0 18px;
    border-radius: 7px;
}

.signup-button {
    font-family: Quicksand, sans-serif;
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 110%;
    background-color: #6a2383;
    color: #72c5ce;
    float: right;
    border-radius: 10px;
}

.signup-button:hover {
    background-color: #fdcc38;
    color: #6a2383;
}


/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #reasons-why-join {
        width: 65%;
        height: 800px;
        margin: 0 auto;
    }

    #left-why, #right-why {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-why {
        clear: both;
        float: left;
        padding: 0;
    }
    #left-why hr, #right-why hr {
        display: none;
    }

    #kids-photos {
        column-count: 2;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    #reasons-why-join {
        width: 90%;
        height: 900px;
        margin: 0 auto;
    }

    #left-why, #right-why {
        width: 100%;
    }

    #left-why h2, #right-why h2 {
        width: 100%;
        text-align: center;
    }

    .left-why-heading, .right-why-heading {
        margin: auto;
        float: none;
        margin-bottom: 4rem;
    }

    #left-why p, #right-why p {
        text-align: center;
        padding: 0 20px;
    }

}



/* Example book review */

#main-book-review-heading {
    display: flex;
    justify-content: center;
    width: 100%;
}

.book-container {
    padding: 5rem 0;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.book {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 22%
}