@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto;
    font-weight: 300;
    color: #252525;
}

/* headings and logo */

h1, h2 {
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    color: #6a2383;
}

#logo {
    float: left;
    font-size: 290%;
}