@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto;
    font-weight: 300;
    color: #252525;
}

/* headings and logo */

h1,
h2 {
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    color: #6a2383;
}

#logo {
    float: left;
    font-size: 290%;
}

#menu {
    font-family: Quicksand, sans-serif;
    font-size: 110%;
    letter-spacing: 1px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    float: left;
}

#menu a {
    text-decoration: none;
    color: #6a2383;
}

#menu a:hover {
    border-bottom: 2px solid #72c5ce;
}

.active {
    border-bottom: 2px solid #72c5ce;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero_image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.15);
    }
}

#cover-text {
    font-size: 120%;
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 275px;
    height: 190px;

    padding-top: 25px;
    padding-left: 25px;

    background-color: rgba(137, 96, 160, .8);

    bottom: 30px;
    right: 150px;

    position: absolute;
}